body{
 	background: #f5f5f5 url('../images/start.png') no-repeat left top;
 	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
 	color: #222;
 	font-size: 14px;
 	line-height: 1.5em;
 	
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	background-size: cover;
 	background-attachment:fixed;
 	
 	position: relative;
 	
 }
 
 h1{
 	color: #fff;
 	font-weight: 100;
 	font-size: 55px;
 	position: fixed;
 	top: 15px;
 	left: 33px;
 	
 }
 
 #wrap{
		margin-top: 100px;
 }
 #wrap h1{
 	font-size: 24px;
 	color: #fff;
 	text-align: center;
 }
 #wrap h2{
 	font-size: 18px;
 	color: #fff;
 	text-align: center;
 }
 
 #wrap h3{
 	font-size: 24px;
 	color: #7cb800;
 	text-align: center;
 }
 #wrap img{
 	text-align: center;
 }
 
 .box{
 	background: #fff;
 	padding: 10px;
 	margin: 10px 0;
 	float: left;
 	width: 512px;
 }

 a{
 	color: #7cb800;
 }
 a:hover{
 	text-decoration: none;
 }
 
 li{
 	margin: 10px 0;
 }
 
 footer{
 	position: fixed;
 	bottom: 1px;
 	right: 10px;
 	color: #fff;
 	font-size: 12px;
 }
 
 .col{
 	height: 512px;
 }
 #note{
 	height: 325px;
 }
 #summary{
 	padding: 22px 10px;
 	line-height: 2em;
 	margin-top: 5px;
 }
 
 #availability{
 	padding: 6px 10px;
 	line-height: 2em;
 	text-align: center;
 }
 
 #availability p{
 	text-align: left;
 }

 #contact{
 	width: 550px;
 }
 
 #contact img{
 	margin-right: 2px;
 }
 
 #features{
 	padding: 0px 10px;
 	margin-top: 5px;
 }
 
 #screenshots{
 	width: 780px;
 	margin-top: 5px;
 	padding: 0px 10px;
 }
 
#mce-EMAIL{
	width: 250px;
	padding: 5px;
	border: 1px solid #999;
	outline: none;
}

#mce-EMAIL:focus{
	border: 1px solid #7cb800;
}

#mc-embedded-subscribe{
	width: 100px;
	background: #ececed;
	outline: 0;
	border: 1px solid #999;
	padding: 5px;
	cursor: pointer;
	font-family: 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

#mc_embed_signup{
	width: 367px;
	margin: 0px auto;
	margin-bottom: 1em;
}

#mc_embed_signup label{
	display: block;
	font-weight: 700;

}
 
 .windowsStore{
 	background: #7cb800;
 	color: #fff;
 	text-decoration: none;
 	padding: 8px 20px;
 	margin: 15px 0;
 	display: inline-block;
 	margin-top: 0px;
 }

/***** SELECTION *****/

::selection {
    background-color: #7cb800;
    color: white;
 }
::-moz-selection {
	background-color: #7cb800;
	color: white;
}