<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="21022MarkSpirek.NotepadRT" Version="1.4.0.1" Publisher="CN=jeff_000" />
  <Properties>
    <DisplayName>Notepad RT</DisplayName>
    <PublisherDisplayName>Impeccable Digital</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name=".txt">
            <SupportedFileTypes>
              <FileType>.txt</FileType>
              <FileType>.css</FileType>
              <FileType>.js</FileType>
              <FileType>.md</FileType>
              <FileType>.java</FileType>
              <FileType>.c</FileType>
              <FileType>.cpp</FileType>
              <FileType>.h</FileType>
              <FileType>.jsp</FileType>
              <FileType>.html</FileType>
              <FileType>.htm</FileType>
              <FileType>.pl</FileType>
              <FileType>.py</FileType>
              <FileType>.cs</FileType>
              <FileType>.php</FileType>
              <FileType>.xml</FileType>
              <FileType>.json</FileType>
              <FileType>.rb</FileType>
              <FileType>.rbw</FileType>
              <FileType>.sql</FileType>
              <FileType>.psql</FileType>
              <FileType>.rss</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.shareTarget">
          <ShareTarget>
            <DataFormat>Text</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Notepad RT" Description="Notepad RT is the missing plain text, markup and code editor for developers and geeks. Notepad RT is made specifically for Windows 8 and Windows RT with rich support for text manipulation and syntax highlighting." BackgroundColor="#7cb800" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="Assets\WideLogo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#7cb800" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>