body {
}
div.fragment {
    padding: 3%;
}
button.btn {
    width:250px;
    height: 60px;
    margin-bottom: 20px;
    border: 2px white dashed;
}
#firstCol {
    margin-right: 20px;
}
#filesListView {
    /*column-width: 3;*/
}

.notepadrt-background {
    background: #7cb800;
}

.pagetitle{
	margin: 0px;
	padding: 0px;
}

.fullScreenLayout {
    /*column-count: 4;*/
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
    .fullScreenLayout {
        column-count: 2;
    }
}

@media screen and (-ms-view-state: snapped) {
    .fullScreenLayout {
        /*column-count: 1;*/
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
