body.light {
    background-color: #F5F5F5;
    color: black;
}

/*
Back button.
*/
.action {
    display: inline-block;
    min-width: 0;
    min-height: 0;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    text-align: center;
    color: inherit;
    /* Normal sizing. */
    border-color: inherit;
    width: 41px;
    height: 41px;
    font-size: 14pt;
    line-height: 37px; /* line-height must match the content box height. */
    vertical-align: baseline;
}
.win-backbutton .win-backbutton:disabled{
    color: inherit;
    border-color: inherit;
}
.win-backbutton:hover, .win-backbutton:hover:active {
    border-color: inherit;
    background-color: #D2D2D2;
}
.win-backbutton:disabled, .win-backbutton:disabled:active {
    visibility: inherit;
}
.action:hover, .action:hover:active {
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    border-radius: 50%;
    background-color: #D2D2D2;
}
.action::before {
    font-family: "Segoe UI Symbol";
    font-weight: normal;
    /*content: "\E0D5";*/
    vertical-align: 50%;
}
.action:-ms-lang(ar, dv, fa, he, ku-Arab, pa-Arab, prs, ps, sd-Arab, syr, ug, ur, qps-plocm)::before {
    content: "\E0AE";
}

div.fragment {
    padding: 3%;
}

button.btn {
    width:250px;
    height: 60px;
    margin-bottom: 20px;
    border: 2px dashed;
    color: inherit;
}
#firstCol {
    float: left;
    width: 17%;
    padding-right: 3%;
}
#secondCol {
    float: left;
    width: 74%;
    padding-left: 3%;
    padding-right: 3%;
}

#filename {
    width: 100%;
    text-overflow: ellipsis;
}

#filesListView {
    padding: 0;
    margin: 0;
}

#imageTextList.light {

    background-color: white;
    border: 1px solid #D2D2D2;

}

.notepadrt-background {
    background: #7cb800;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
    #firstCol {
        

    }
    #secondCol {
        clear: both;

    }
}

@media screen and (-ms-view-state: snapped) {
    #firstCol {
        width: 100%;
        height: 10%;
        padding: 0;
    }
    #secondCol {
        width: 96%;
        height: 80%;
        padding: 0;
        bottom: 0;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
