body {
}

.notepadrt-background {
    background: #7cb800;
}

.fullScreenLayout {
    column-count: 4;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
    .fullScreenLayout {
        column-count: 2;
    }
}

@media screen and (-ms-view-state: snapped) {
    .fullScreenLayout {
        column-count: 1;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
